<h1>Crear taller</h1>

<div id="ruta">
  <a href="/">Volver</a>
</div>

<hr />

<form action="/create" method="post">
  <fieldset>
    <label for="name">Nombre:</label><br />
    <input name="name" id="name" type="text" value="" />
  </fieldset>

  <fieldset>
    <label for="description">Descripción:</label><br />
    <textarea name="description" id="description" rows="10" cols="40"></textarea>
  </fieldset>

  <fieldset>
    <input type="submit" value="Guardar" />
  </fieldset>
</form>